body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1400px;
  height: 700px;
  margin-top: 10px;
  background-color: black;
}

h2{
  color: #fff;
}

#d2_plot {
    float: left;
}

#Sunburst {
  float: right;
}

#Plot_title{
  margin: 0;
  padding: 0;
}

#Plot_title2{
  margin-top: 0px;
}

#main {
  float: left;
  width: 600px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 40px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 235px;
  left: 230px;
  width: 140px;
  text-align: center;
  color: #fff;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

/* .axis {
  font: 10px sans-serif
  color: #fff;
}

.axis path,
.axis line {
  fill: #fff;
  stroke: #fff;
  stroke-width: 10px;
} */
